.jumbotron {
    background-image: url("./img/background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#newburger {
    border-radius: 5px;
}

#color-override {
    color: white;
}

#lefthead {
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

#eatbutton, #trashbutton {
    float: right;
}

#righthead {
    background-color: #f0ad4e;
    color: white;
    text-align: center;
    font-size: 1.2em;
}